:root {
  --main-text-color: #fff;
  --main-bg-color: #000;
  --main-brand-color: #e50914;
  --main-brand-color-light: #e44c54;
  font-size: 16px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.main-bg {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
