.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--main-brand-color);
  transition: all 1s;
}

.btn:hover {
  background-color: #fff;
  color: var(--main-brand-color);
}

.btn.btn--reset {
  background-color: #666;
  border-color: #666;
}
.hidden-xs {
  display: none;
}

.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-weight: 400;
}

.form__element--checkbox {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.form__label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form__input {
  padding: 10px 6px;
  border-radius: 5px;
  background-color: #999;
  border: none;
  color: rgb(255, 255, 255);
}

.form__input::placeholder {
  color: #666;
}

/* Todo lo que está por encima de 768px, por defecto screen and */
@media (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
}

@keyframes spin {
  0% {
    border-left-color: #da77f2;
    border-top-color: #e599f7;
    border-right-color: #eebefa;
    border-bottom-color: #f3d9fa;
  }
  25% {
    border-top-color: #da77f2;
    border-right-color: #e599f7;
    border-bottom-color: #eebefa;
    border-left-color: #f3d9fa;
  }
  50% {
    border-right-color: #da77f2;
    border-bottom-color: #e599f7;
    border-left-color: #eebefa;
    border-top-color: #f3d9fa;
  }
  75% {
    border-bottom-color: #da77f2;
    border-left-color: #e599f7;
    border-top-color: #eebefa;
    border-right-color: #f3d9fa;
  }
  100% {
    border-left-color: #da77f2;
    border-top-color: #e599f7;
    border-right-color: #eebefa;
    border-bottom-color: #f3d9fa;
  }
}

.spinner {
  margin: 20px;
  height: 20px;
  width: 20px;
  border: 4px solid #da77f2;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}
