.btn {
  color: var(--main-text-color);
  background-color: var(--main-brand-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--main-brand-color);
}

.btn:hover {
  background-color: var(--main-brand-color-light);
}

.btn.btn--reset {
  background-color: #666;
  border-color: #666;
}
.hidden-xs {
  display: none;
}

.form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-weight: 400;
}

.form__element--checkbox {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.form__label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form__input {
  padding: 10px 6px;
  border-radius: 5px;
  background-color: #999;
  border: none;
  color: rgb(255, 255, 255);
}

.form__input::placeholder {
  color: #666;
}

/* Todo lo que está por encima de 768px, por defecto screen and */
@media (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
}
