.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info .info__content {
  /* margin-left: 20px; */
  width: 90%;
  margin: 0 auto;
  max-width: 768px;
}

.info .info__media {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.info .info__image {
  width: 274px;
  z-index: 1;
}

.info .info__video {
  position: absolute;
  width: 175px;
  top: 30px;
  z-index: -1;
}

@media (min-width: 768px) {
  .info .info__image {
    width: 628px;
  }

  .info .info__video {
    width: 384px;
    top: 70px;
  }
}

@media (min-width: 1024px) {
  .info {
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.5rem;
  }
}
